<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    <appSettings>
    </appSettings>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="testBinding" sendTimeout="00:00:30">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint name="testEndpoint"
                    address="net.tcp://127.0.0.1:8000/test/Service"
                    binding="netTcpBinding" bindingConfiguration="testBinding"
                    contract="ServiceTest.IService"/>
        </client>
    </system.serviceModel>
</configuration>